nav{
    position: fixed;
    display: flex;
    z-index: 3;
    color: #000000;
    padding: 0.3em 3em 0;
    width: 100vw;
    background-color: #808080;
}
span{
    padding: 0.4em;
}
nav h1,span{
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 30px;
}
.nav-link{
    margin-right: 5rem;
}
.nav-link a{
    font-family: 'Bebas Neue', cursive;
    padding: 0.4rem;
    margin: 0.3rem;
    font-size: 2rem;
    text-decoration: none;
    color: #000000;

}
.nav-link a:hover{
    background-color: #0000006b;
    color: #FFFFFF;
    border-radius: 0.6rem;
}

@media (max-width: 750px) {
    /* *{
        font-size: 120%;
    } */
    nav h1 span{
        display:none;
    }
    .nav-link{
        margin-right: 1rem;
    }
}