<div class="container-fluid" *ngIf="userData">
    <div class="row">
        <div class="col-12">
            <h2>MY GITHUB</h2>
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h5>
                <img src="{{userData.avatar_url}}" alt=""[height]="100" class="p-3">
                {{userData.name}} 
            </h5>
            <p class="bio">{{userData.bio}}</p>
            <span class="box">Followers: {{userData.followers}}</span>
            <span class="box">Following: {{userData.following}}</span><br>
            <p class="bio">{{userData.blog}}</p>
            <p class="date">Joined: {{userData.created_at}}</p>

        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-6">REPO 1</div>
                <div class="col-6">REPO 2</div>
                <div class="col-6">REPO 3</div>
            </div>
        </div>
    </div>
</div>