.container-fluid{
    padding-top: 6em;
}
h2{
    text-align: center;
    font-size: 3em;
    color: #FFFFFF;
}
.form-inline{
    display: inline-flex;
    width: 25vw;
    height: 6vh;
    float: right;
}
form .btn{
    margin-left: 0.3em;
    color: #000000;
}
h5{
    color: #FFFFFF;
    text-align: center;
    font-size: 2.2em;
}
.col-5{
    padding: 1em;
    background-color: aqua;
    margin: 0.3em;
    border-radius: 0.2em;
}
.row{
    /* background-color: rebeccapurple; */
    margin: 0.3em;
}
.small{
    min-height: 5vh;
}
.btn{
    margin: 1em;
}
.center{
    text-align: center;
}
.col-4{
    padding: 2em;
    text-align: center;
}
.box{
    padding: 0.5em;
    border-radius: 3em;
    margin: 0.1em;
    background-color: burlywood;
}
.date{
    padding: 0.2em;
    margin-top: 0.5em;
    color: #FFFFFF;
}
.bio{
    padding:0.8em;
    color: #FFFFFF;

}